#Contact{
    display: flex;
    margin-top:8%;
    height: 100vh;
    background-color: black;
    color: white !important;
    display: flex;
    flex-direction: column;

    section{
         width: 70%;
        margin:auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
            color: white;
            margin: auto;
            &::before{content:"03." !important;

                        color: white;}
                    }
        p{
            font-size: 1.5rem;
            width: 100%;       
            margin: auto;
            color: white;
        }
        .links{
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            width: 100%;
            align-self: center;
            margin: auto    ;
    
            
            
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-wrap: nowrap;
                width: fit-content;
                height: fit-content;
                border: 1px solid rgb(255, 255, 255);
                padding: 10px 20px;
                
                    
                    a{
                        color: white ;
                        text-decoration: none;
                    }
                    &:hover{
                        background-color: white !important ;
                        transition: all 300ms             ;
                        a{
                            color: black;
            
                        }
                    }
                   
                
                i{
                    display: flex
                }
            }
            
                
    }
    }
  





}